.content > h2 {
  padding-top: 25px;
  text-align: center;
}

.content > p {
  font-size: 15px;
  line-height: 20px;
  margin: 20px;
  text-align: center;
}

.content form {
  display: flex;
  flex-direction: column;
}

.content form label {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin: 5px;
}

.content form input {
  margin-bottom: 20px;
  height: 45px;
  padding: 0 35px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px grey;
}

.content button.btn {
  border: 0;
  border-radius: 3.6px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #57bbbc;
  color: white;
  cursor: pointer;
}

.content button.btn:hover {
  background: #20b0b3;
}

.error {
  color: red;
}

.email {
  background-image: url("../../assets/ic-email.png");
  background-repeat: no-repeat;
  background-position-y: 8px;
}

.pass {
  background-image: url("../../assets/ic-cadeado.png");
  background-repeat: no-repeat;
  background-position-y: 8px;
}
