.Header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  height: 150px;
  background-image: linear-gradient(
    to top,
    #ee4c77,
    #ee527b,
    #ee577f,
    #ee5c83,
    #ee6187
  );
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 40px;
  z-index: 1;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 50%;
  z-index: 2;
  cursor: pointer;
}
.searchOpen {
  width: 100vw;
  height: 10vh;
  position: relative;
  outline: 0;
  padding-left: 5rem;
  border: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
  font-size: 34px;
  color: #fff;
  transition: width 0.7s ease-in-out;
  z-index: 2;
  background-image: url("../../assets/ic-search.png");
  background-position: left;
  background-repeat: no-repeat;
}
